<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <!-- header를 불러오는 코드 -->
    <%=render'layouts/header'%>
    
    <!-- body 부분 양 옆 간격 주기 how? header와 마찬가지로 container 안에 넣어서! -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
